@charset "uft-8";
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(bannerphoto.jpg);
    /* opacity: 70%; */
    height: 100px;
    padding-top: 20px;
}


ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    background-color: rgb(23, 22, 22);
    /* The code below allows the
     navigation bar at top of page along with dropdown to be centered */
    display: flex;
    justify-content: center;
}
li{
    float: left;
}
li a, .drpdwn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;

}
li a:hover, .nav:hover .drpdwn{
    text-decoration: underline;
    /*background-color: beige;*/
}
li.nav{
    display: inline-block;
}
.drpdwnbttn {
    display: none;
    position:absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drpdwnbttn a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}
.drpdwnbttn a:hover{
    text-decoration: none;
    background-color: rgba(215, 215, 215, 0.93);
    
}
.nav:hover .drpdwnbttn{
    display: block;
    text-decoration: none;
}
hr{
    border: 10px solid black;
    border-radius: 2px;
}
